.wpcf7 label {
  width: 100%;
}

.wpcf7 .wpcf7-style {
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 6px 12px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.wpcf7-submit {
  font-size: 17px;
  padding: 5px 20px;
  background: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px;
  &:hover {
    background-color: #eee;
    cursor: pointer;
  }
}
